#remote-media > video {
  width: 500px;
  height: 230px;
  position: relative;
  top: 60px;
}

#local-media > video, #local-media {
  width: 100px;
  height: 80px;
  position: relative;
  top: -84px;
  left: 303px; 
  display: inline-block;
}

#local-media > video {
  border: 2px solid white;
  z-index: 5;
  top: 60px;
  left: 0px;
}

.fa-heart-o, .fa-heart {
  color: red;
}

#countdown, .video-container {
  display: inline-block;
}

.round-progress {
  width: 40px !important;
  height: 40px !important;
}

#countdown {
  top: -173px;
  left: 250px;
  position: relative;
  z-index: 5;
}

.add-time {
  position: relative;
/*  top: -250px;
  left: 45px;*/
  width: 22px;
}

.heart {
  position: absolute;
  top: 345px;
  left: 230px;
}

#liked-text {
  z-index: 5;
  color: white;
  position: relative;
  font-size: 12px;
  top: -200px;
  left: 200px;
  display: inline-block;
}
.likes {
  position: relative;
  left: 200px;
  top: 55px;
  z-index: 5;
}
.likes > .fa {
  display: inline-block;
}

.likes > div {
  color:white; 
  font-size: 8px;
  display: inline;
  top: 70px;
  position: relative;
  top: -9px;
}


/*#local-media > video, #local-media:hover {
  transition: scale(2) 2s;
}*/

.grow-local {
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards
  -webkit-animation: moveLocalVid .5s ease-in forwards;
  animation: moveLocalVid .5s ease-in forwards;
}

@-webkit-keyframes moveLocalVid{
  0% {
    transform: scale(1);

  }

  100% {
    transform: scale(4);
    top: -270px;
    right: 80px;
  }
}

@keyframes moveLocalVid{
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(4);
    top: -270px;
    right: 80px;
  }
}
