#remote-media > video {
  width: 500px;
  height: 230px;
  position: relative;
  top: 60px;
}

#local-media > video, #local-media {
  width: 100px;
  height: 80px;
  position: relative;
  top: -84px;
  left: 303px; 
  display: inline-block;
}

#local-media > video {
  border: 2px solid white;
  z-index: 5;
  top: -59px;
  left: 0px;
}

.fa-heart-o, .fa-heart {
  color: red;
}

.round-progress, .video-container {
  display: inline-block;
}

.round-progress {
  top: -242px;
  left: 243px;
  position: relative;
  width: 50px !important;
  height: 200px;
}

.add-time {
  position: relative;
  top: -147px;
  left: -45px;
  width: 22px;
}

.heart {
  position: absolute;
  top: 345px;
  left: 230px;
}

#liked-text {
  z-index: 5;
  color: white;
  position: relative;
  font-size: 12px;
  top: -200px;
  left: 200px;
  display: inline-block;
}
.likes {
  position: relative;
  left: 200px;
  top: 55px;
  z-index: 5;
}
.likes > .fa {
  display: inline-block;
}

.likes > div {
  color:white; 
  font-size: 8px;
  display: inline;
  top: 70px;
  position: relative;
  top: -9px;
}









