<div ng-include src="'./navbar/navbar.html'"></div>

<div class="threads-container">
  <div ng-show="msg.noMessages">{{msg.noMessages}} <a ui-sref="video-chat">Click Me</a></div>
  <div ng-repeat="thread in msg.threads track by $index">
  
    <a ui-sref="thread({id: thread.id})" class="thread-list" ng-click="msg.threadClicked(thread.id, thread.from)">
      <img class="other-photos" src="{{thread.otherPhotos}}" alt=""/>
        <div class="snippet" >
          <div ng-class=" thread.unread ? 'unread' : 'read' "></div>
          
          <div class="thread-from" >{{thread.from}}</div> 
          <div class="thread-message">{{thread.message}}</div> 
          <time class="thread-date" am-time-ago="thread.date"></time>
        </div> 
      <img class="my-photos" src="{{thread.myPhotos}}" alt="">
      
    </a>

  </div>
</div>


