<div ng-include src="'./navbar/navbar.html'"></div>

<div id="other-name">Conversation with {{msg.otherUser}}</div>

<ol class="messages-container" scroll-glue>

  <li ng-repeat="message in msg.messages track by $index" ng-class=" message.from === msg.currentUser ? 'self' : 'other' ">
    
    <div class="messages">
      {{message.message}} 
      <time class="message-date" am-time-ago="message.date"></time>
    </div>

  </li>

</ol>

<textarea rows="4" cols="50" ng-keyup="$event.keyCode == 13 && msg.isChecked && msg.sendMessage();" placeholder="say something nice" ng-model="msg.saySomething" type="text"> </textarea>
<div id="on-enter">
  <input ng-click="msg.checkbox()" type="checkbox"> send on enter
</div>
<button id="send-button" ng-click="msg.sendMessage();">send</button>