<div ng-include src="'./navbar/navbar.html'"></div>

<div id="preference">
  <p id="back-to-myprofile" ui-sref="myprofile">My Profile</p>
  <!-- <h2> Hi {{settingsCtrl.myName}}!!</h2> -->
  
  <div id="inner-preferences" >
    <h2>Let's set your preferences</h2>
    <form action="">

      <p>I identify as a.. </p>
      <li class="selections" ng-repeat="identify in settingsCtrl.identifyAs">
        {{identify.sex}}
        <input type="radio" ng-model="settingsCtrl.me.gender" name="identity" value="{{identify.sex}}"  />
      </li> <br>

      <p>My age is..</p>
      <select class="selections" name="myAge" value="18" ng-model="settingsCtrl.me.myAge" ng-options="age for age in settingsCtrl.ageRange"  >
      </select> <br>

      <p>Seeking..</p>
      <li class="selections" ng-repeat="meeting in settingsCtrl.hereToMeet">
        {{meeting.sex}}
        <input type="radio" ng-model="settingsCtrl.me.preferences.iWantToMeet" name="meeting" value="{{meeting.sex}}"  />
      </li> <br>

      <p> Between ages.. </p>
      <select class="selections" name="gtAge" ng-model="settingsCtrl.me.preferences.gtAge" ng-options="age for age in settingsCtrl.ageRange" > 
      </select>

      <select class="selections" name="ltAge" ng-model="settingsCtrl.me.preferences.ltAge" ng-options="age for age in settingsCtrl.ageRange"> 
      </select> <br>

      <p>Within..</p>
      <li class="selections" ng-repeat="distance in settingsCtrl.distanceAway">
        <input type="radio" ng-model="settingsCtrl.me.distance" name="distance" value="{{distance.miles}}"/> {{distance.miles}} miles
      </li>
      
    </form>
    <button ng-click="settingsCtrl.sendPref()">is you finished or is you done?</button>
  </div>

</div>
